<h1><%= @doctor.full_name %>: Patient Appointments</h1>

<% @appointments.each do |appt| %>
<ul>
    <li><%= appt.user_id %></li><%= " " %><%= appt. %>
<%= link_to "Delete", doctor_appointment_path(@doctor, ap pt.id), method: :delete %>
</ul>
<% end %>
<hr />
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />



    

